version: '3.8'

services:
  web:
    build:
      context: ../../  # Path to the root of the Django project
      dockerfile: deployment/django-app/Dockerfile
    restart: always
    environment:
      - DJANGO_ENV=production
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY:-your-secret-key}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS:-localhost,127.0.0.1}
      - DB_NAME=${DB_NAME:-drive}
      - DB_USER=${DB_USER:-postgres}
      - DB_PASSWORD=${DB_PASSWORD:-root}
      - DB_HOST=host.docker.internal  # Special Docker DNS name that resolves to the host machine
      - DB_PORT=${DB_PORT:-5432}
      - PORT=${PORT:-3011}
      # S3/MinIO settings
      - S3_ENDPOINT_URL=${S3_ENDPOINT_URL:-http://localhost:9000}  # Changed to localhost for browser access
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-admin}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-admin123}
      - AWS_STORAGE_BUCKET_NAME=${AWS_STORAGE_BUCKET_NAME:-drive}
      - DOMAIN=${DOMAIN:-localhost}
    volumes:
      - ../../myproject/myapp/static:/app/myproject/staticfiles
    ports:
      - "${PORT:-3011}:${PORT:-3011}"
    networks:
      - minio-network
    extra_hosts:
      - "host.docker.internal:host-gateway"  # Required for Linux hosts

volumes:
  static_volume: 

networks:
  minio-network:
    external: true
