services:
  nginx:
    build: .
    container_name: nginx-load-balancer
    ports:
      - "80:80"   # Nginx listens on port 80
    networks:
      - minio-network
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./GeoLite2-Country.mmdb:/etc/nginx/GeoLite2-Country.mmdb:ro
    restart: always

networks:
  minio-network:
    external: true
